.container img {
  height: 200px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 20px 50px;
  gap: 20px;
}

#welcome {
  justify-self: center;
}

.card p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.card {
  margin-bottom: 110px;
  cursor: pointer;
}

.card:hover {
  margin-bottom: 0;
}

.card:hover p {
  overflow: visible;
}