@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  font-family: 'Inconsolata', monospace;  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {
  height: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
  width: 100%;
}

.header {
  font-size: 26px;
  padding: 8px 0 0 50px;
  font-weight: bolder;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer img {
  height: 25px;
  cursor: pointer;
  transition: 1s transform;
}

.footer img:hover {
  transform: rotate(180deg);
}