.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 40px;
  justify-content: space-around;
  padding: 50px;
}

.category-navbar {
  position: sticky;
  top: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  background-color: #242424;
  padding: 20px 40px;
}

.category-navbar div + div::before {
  content: '|';
  position: relative;
  right: 4.5vw;
  cursor: default;
}

.category-navbar > div {
  cursor: pointer;
}